ota_file_list=(
board/r128s3/pro_rgb/configs/ota/ota-step-recovery.fex:ota-step
out/r128s3/pro_rgb/image/config.fex:config-b
out/r128s3/pro_rgb/image/rtos_arm.fex:m33
out/r128s3/pro_rgb/image/rtos_riscv.fex:rv
out/r128s3/pro_rgb/image/rtos_dsp.fex:dsp
out/r128s3/pro_rgb/image/config.fex:config
#out/r128s3/pro_rgb/image/boot0_spinor.fex:boot0
#out/r128s3/pro_rgb/image/rtos_xip_rv.fex:xip
#out/r128s3/pro_rgb/image/toc0.fex:boot0
)
