ota_file_list=(
board/xr875s1/pro_hp/configs/ota/ota-step-ab.fex:ota-step
out/xr875s1/pro_hp/image/config.fex:config
out/xr875s1/pro_hp/image/rtos_arm.fex:m33
out/xr875s1/pro_hp/image/hpsram_arm.fex:m33-hpsram
out/xr875s1/pro_hp/image/rtos_riscv.fex:rv
out/xr875s1/pro_hp/image/rtos_xip_rv.fex:xip
#out/xr875s1/pro_hp/image/toc0.fex:boot0
)
