ota_file_list=(
board/xr875s1/pro_hp/configs/ota/ota-step-recovery.fex:ota-step
out/xr875s1/pro_hp/image/rtos_riscv.fex:rv
out/xr875s1/pro_hp/image/rtos_xip_rv.fex:xip
out/xr875s1/pro_hp/image/rtos_arm.fex:arm-sram
out/xr875s1/pro_hp/image/hpsram_arm.fex:arm-hpsram
#out/xr875s1/pro_hp/image/toc0.fex:boot0
)
