menu "RTC Devices"

config DRIVERS_RTC
    bool "enable rtc driver"
        default y

config HAL_TEST_RTC
    bool "enable rtc hal APIs test command"
    depends on DRIVERS_RTC
        default n

config SET_RTC_CHECK
    bool "enable recheck rtc set"
    depends on DRIVERS_RTC
        default n

endmenu
