config TESTCASE_OSAL
	bool "OSAL Testcase."
	default n
	depends on COMPONENTS_OSTEST_OSAL_TIME || COMPONENTS_OSTEST_OSAL_TIMER || \
	COMPONENTS_OSTEST_OSAL_THREAD || COMPONENTS_OSTEST_OSAL_QUEUE || \
	COMPONENTS_OSTEST_OSAL_SEM || COMPONENTS_OSTEST_OSAL_WAITQUEUE || \
	COMPONENTS_OSTEST_OSAL_WORKQUEUE
	help
	  This testcase used test osal API.

